body {
    color: #21204C;
    font-family: 'Roboto Slab', serif;
    /* correct margins */
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
    max-width: 1000px;
    min-width: 800px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 5%;
}

a {
    color: #21204C;
}

a:hover {
    color: rgb(58, 7, 105);
    font-weight: bold;
}

.main-line {
    font-size: 1.5em;
    margin-top: 12%;
}

#hint-text {
    margin-top: 8%;
    opacity: 80%;
}

#input1 {
    border-radius: 20px;
    border-color: blueviolet;
    font-size: medium;
    height: 25px;
    margin-left: 10px;
    /* fix padding */
    padding: 6px;
    padding-left: 15px;
    width: 230px;
}

#submit1 {
    background-color: blueviolet;
    border: 2px solid blueviolet;;
    border-radius: 25px;
    color: azure;
    font-family: 'Roboto Slab', serif;
    font-size: medium;
    margin-top: 15px;
    padding: 10px;
    width: 120px;
}

#submit1:hover {
    background-color: rgb(249, 244, 250);
    border: 2px solid blueviolet;
    color: blueviolet;
    cursor: pointer;
    font-weight: bold;
}

#google-search-container {
    background-color: #F2F2FB;
    /* border: 2px solid rgb(188, 152, 222); */
    border-radius: 15px;
    /* fix margins and paddings */
    margin-top: 8%;
    margin-bottom: 5%;
    padding-top: 10px;
    padding-bottom: 20px;
}

#google-search-container > p:first-child {
    font-size: 1.3em;
}

ul {
    padding-right: 40px;
}

li {
    list-style-type: none;
    margin-top: 10px;
}

li > p:last-child {
    color: black;
    font-size: small;
    margin-bottom: 20px;
}

#goodread-container {
    display: none;
    flex-wrap: nowrap;
    gap: 1rem;
}

.goodread-book {
    align-self: center;
    background-color: #F2F2FB;
    border-radius: 10px;
    display: inline-flex;
    flex: 1 1 33.33%;
    min-height: 100px;
    padding: 5px;
}

.goodread-book > a {
    align-items: center;
    display: flex;
    font-size: small;
    gap: 0.5rem;
    text-decoration: none;
}

.goodread-pic {
    /* fix padding */
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5px;
}

#loader-wrapper {
    display: none;
    margin-top: 8%;
}

.loader {
    margin: 0 auto;
    z-index: 1;
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgb(160, 73, 242);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-text {
    color: #21204C;
    margin-bottom: 3%;
}